<html>
  <head>
    <meta charset="utf8">
    <title>APT Repository</title>
  </head>
  <body>
    <h1>APT Repository</h1>
    <ul>
      <% for(const package of packages) { %>
        <li><a href="/packages/<%= package %>"><%= package %></a></li>
      <% } %>
    </ul>
  </body>
</html>
