body {
  font-family: monospace;
  background-color: whitesmoke;
}

.container {
  display: block;
  max-width: 600;
  margin: auto;
}

.box {
  background-color: white;
  padding: 1px 1em;
}

.footer {
  margin: 1em 0;
  text-align: center;
  font-size: .8em;
}
