<html>
  <head>
    <meta charset="utf8">
    <title>APT Repository</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>

    <div class="container">
      <h1>apt.srk.bz</h1>
      <div class="box">
        <ul>
          <% for(const package of packages) { %>
            <li><a href="/packages/<%= package %>"><%= package %></a></li>
          <% } %>
        </ul>
      </div>
      <div class="footer">
        <a href="https://github.com/sirikon/apt-repository">Source Code</a>
      </div>
    </div>

  </body>
</html>
